# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/

# Terraform (added in Week 4)
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Env / secrets
.env
*.pem

# OS
.DS_Store

# Kubernetes credentials - never commit
kubeconfig*.yaml
*.kubeconfig